body {
  font-family: Arial;
  text-align: center;
  background: linear-gradient(135deg, #0f172a, #1e3a8a);
  color: white;
}

.container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.city {
  padding: 20px;
  background: #1e293b;
  border-radius: 10px;
  transition: 0.3s;
}

.city:hover {
  transform: scale(1.05);
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background: #1e293b;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}
